/* came with this stuff */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*=====================================================================================*/
/*=================================== our styling ====================================*/
.our_body {
    background-color: #ffff99;
    padding-bottom: 90px;
}
/*------------------------------------------*/
.our_nav {
    background-color: #008000;
    color: #e6ffe6;
}
.our_nav_a {

}
    .our_nav_a:link {
        color: #e6ffe6;
    }
    .our_nav_a:visited {
        color: #e6ffe6;
    }
    .our_nav_a:hover {
    }
    .our_nav_a:active {
    }
/*-------------------------------------------*/
.our_jumbo {
    background-color: #ffff99;
    padding-left: 90px;
 }
/*-------------------------------------------*/
.our_links {

}
    .our_links:link {
        color: #008000;
    }
    .our_links:visited {
        color: #008000;
    }
    .our_links:hover {
    }
    .our_links:active {
    }
/*------------------------------------------*/
.our_buttons {

}
    .our_buttons:link {
    }
    .our_buttons:visited {
    }
    .our_buttons:hover {
    }
    .our_buttons:active {
    }
/*-----------------------------------------*/
.tree_coord {
    max-width: 300px;
    height: auto;
}
/*-----------------------------------------*/
.our_foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    font-size: 11px;
    padding-top:5px;
    padding-left:5px;
    background-color: #008000;
    color: #e6ffe6;
}
/*-----------------------------------------*/