@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron our_jumbo">
    <h1>HolmanBerg</h1>
    <p class="lead">
        The cumulative genealogy work of Gordon L. Holman -- began in 1956.
    </p>
    <p>
        @Html.ActionLink("About", "About", "Home", new {@class="our_links"})
    </p>
</div>

<div class="row">
    <!--==============================================================================-->
    <div class="col-md-4">
        <h2>Our Families</h2>
        <h4> Gordon's Father's Side </h4>
        <ul>
            <li> A - Holmen </li>
            <li> B - Jo Frondal </li>
            <li> C - Gunhildsbo </li>
            <li> D - Underdahl </li>
            <li> E - Frondal </li>
        </ul>
        <!------------------------------->
        <h4> Ginger's Father's Side </h4>
        <ul>
            <li> K - Nemitz </li>
            <li> L - Berg </li>
        </ul>
        <!------------------------------->
        <h4> Gordon's Mother's Side </h4>
        <ul>
            <li> M - Evens </li>
            <li> N - Goplerud </li>
            <ul>
                <li> N12 - C.L. Goplerud </li>
                <li> N121 - L.C. Goplerud </li>
                <li> N124 - Rustebakke </li>
                <li> N15 - Lindelien </li>
                <li> N49 - Dokkebakken </li>
                <li> N491 - Knutson </li>
            </ul>
            <li> Q - Gulsvik </li>
            <li> R - Haukedalen </li>
        </ul>
        <!------------------------------------>
        <h4> Ginger's Mother's Side </h4>
        <ul>
            <li> U - Stewart </li>
            <li> V - Des Brisay </li>
            <li> W - Heltemes </li>
            <li> Y - Jenkins </li>
            <li> Z - Hales </li>
        </ul>
    </div>
    <!--==========================================================================-->
    <div class="col-md-4">
        <h2> Tree Drawings - Available </h2>
        <p> As soon as I find the list I will post it </p>

        <h3> Tree Drawings - In Progress </h3>
        <p> Same..... </p>
    </div>
    <!--==========================================================================-->
    <div class="col-md-4">
        <h2> Finding Yourself on the Tree - Your Tree Coordinates </h2>
        <p>
            This here is how. <br />
            (will find that explanation &amp; diagram, haha)
        </p>
    </div>
</div>